@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

:root {
	--animation-duration: 0.3s;
	--border-radius: 2.25rem;
	--item-height: 2rem;
	--warning-red: rgb(245, 101, 101);
	--cart-active-green: rgb(56, 161, 105);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(226, 232, 240);
	font-family: 'Baloo 2', cursive;
}

[v-cloak] {
	display: none;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-counter {
	width: 100px;
}

.item-counter__inner {
	position: absolute;
	width: 100px;
	height: var(--item-height);
	background: white;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: var(--border-radius);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	line-height: 1;
	font-size: 0.5rem;
}

.item-counter__button {
	border: none;
	font-size: 0.85rem;
	background: transparent;

	&--disabled {
		opacity: 0.25;
		cursor: no-drop;
	}

	&:focus {
		outline: none;
	}
}

.item-counter__counter-number {
	padding: 0 20px;
	width: 30px;
	height: var(--item-height);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	overflow: hidden;
	position: relative;
	opacity: 0.35;
	transition: color var(--animation-duration) ease-in-out;
	color: var(--warning-red);

	&--active {
		color: var(--cart-active-green);
		opacity: 1;
	}
}

.item-counter__delete {
	position: absolute;
	width: 100px;
	height: var(--item-height);
	z-index: 1;
	background: var(--warning-red);
	transition: transform 0.3s ease-in-out;
	border-radius: var(--border-radius);
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&--active {
		transform: translateX(50px);
	}
}

.item-counter__delete-button {
	width: 50%;
	height: 100%;
	background: none;
	border: none;
	transform: translateX(-5px);

	&:focus {
		outline: none;
	}
}

.cart-summary {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
	position: absolute;
	top: 30px;
	right: 20px;
	background: var(--cart-active-green);
	transform: translateX(150%);
	transition: all var(--animation-duration)
			cubic-bezier(0.68, -0.1, 0.265, 1.55),
		opacity var(--animation-duration) ease-in-out;
	color: #fff;
	font-size: 0.85rem;
	line-height: 1;
	margin: 0;
	border-radius: var(--border-radius);
	opacity: 0;
}

.cart-summary__icon {
	margin-right: 10px;
}

.cart-summary__text {
	width: 100%;
	color: #ffffff;
	z-index: 1;
	line-height: 1;
	margin: 0;

	&--bold {
		font-weight: bold;
	}
}

.cart-summary--active {
	color: var(--cart-active-green);
	transform: translateX(0);
	opacity: 1;
}
